:root {
  --animate-speed: 2s;
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  height: 100vh;
  background: #000;
  color: #fafafa;
}

a {
  text-decoration: none;
}

/* Welcome  */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome .image {
  height: 100vh;
}

.welcome .link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome .get-started-btn {
  transform: rotate(-25deg);
  cursor: pointer;
  display: inline-block;
  padding: 20px 40px;
  background: transparent;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 10px #333;
  color: #000;
  font-family: 'Finger Paint', cursive;
  font-size: 30px;
}

.btn-animate1 {
  letter-spacing: 1px;
  transform: translateY(-1200px);
  animation: animate1 var(--animate-speed) forwards ease-in;
}

@keyframes animate1 {
  to {
    transform: translateY(350px);
  }
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.story-card h2 {
  cursor: pointer;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 25px;
  box-shadow: 3px 3px 10px #e6521c, -3px -3px 10px #e6521c,
    inset 3px 3px 10px #e6521c, -3px 3px 10px #e6521c;
}

.story-card-last h2 {
  cursor: unset;
}

.btn-see-story {
  transform: translateY(350px);
}

.btn-animate2 {
  letter-spacing: 1px;
  transform: translateX(-1800px);
  animation: animate2 var(--animate-speed) forwards ease-in;
}

@keyframes animate2 {
  to {
    transform: translateX(0px);
  }
}
