/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  height: 100vh;
  background: #000;
  color: #fafafa;
}

a {
  text-decoration: none;
}

/* Welcome  */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcome .image {
  height: 100vh;
}

.welcome .link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome .get-started-btn {
  transform: rotate(-25deg);
  cursor: pointer;
  display: inline-block;
  padding: 20px 40px;
  background: transparent;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 10px #333;
  color: #000;
  font-family: 'Finger Paint', cursive;
  font-size: 30px;
}

#cookies-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.story-card h2 {
  border: 2px solid yellow;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
