/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  height: 100vh;
}

a {
  text-decoration: none;
}

/* Welcome */
.welcome {
  background: url('./images/book.png') no-repeat center center/contain;
  height: 100vh;
}
