/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  height: 100vh;
}

a {
  text-decoration: none;
}

/* Welcome  */

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #000;
}

.welcome .image {
  height: 100vh;
}
